@import 'tailwindcss';
@import '@nuxt/ui';

:root {
    --body-bg-color: white;
    --body-margin: 0;
    --body-padding: 0;

    --menu-button: #333;
    --menu-close-button: #6e6e6e;
    --menu-buttons-bg: #323232;
}

body {
    background-color: var(--body-bg-color);
    margin: var(--body-margin);
    padding: var(--body-padding);
    height: 100vh;
    color: black;
}
