@import 'tailwindcss';
@import '@nuxt/ui';

:root {
    --body-bg-color: white;
    --body-margin: 0;
    --body-padding: 0;
}

body {
    background-color: var(--body-bg-color);
    margin: var(--body-margin);
    padding: var(--body-padding);
    height: 100vh;
    color: black;
}
